<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% comment %} <!-- Bootstrap CDN --> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    {% comment %} <!-- Plotly.js CDN --> {% endcomment %}
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>

    {% comment %} <!-- Leaflet CDN --> {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html{
            background-color: #063970;
            color: #DCE2F0;
        }
        body{
            height: 100%;
        }
        .card-header {
            background-color: rgb(209, 231, 221);
        }
    </style>
</head>

<body>

<div class="container-fluid min-vh-100">

    <!-- Header -->
    <div class="row header p-2 border-bottom">

        <!-- Header bar -->
        <div class="d-flex flex-wrap align-content-center justify-content-center justify-content-lg-start">

            <!-- Logo -->
            <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none" href="{% url 'HomePage' %}">
                <img src="{% static '/logo/TAP-Logomini.png' %}" class="bi me-2 shadow-sm" width="26" height="35" alt="">
            </a>

            <!-- List Menu -->
            <ul class="nav col-11 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Dashboard
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Center' %}">Dashboard Center</a>
                        <a class="dropdown-item" href="{% url 'Hectare' %}">Hectare Statement</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis" href="{% url 'MapHectare' %}">
                        Maps
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Monitoring
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Patok' %}">Patok HGU</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'Tankos' %}">Tankos</a>
                        <a class="dropdown-item" href="{% url 'Pupuk' %}">Pupuk</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Download Report
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Patok</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tankos</a>
                        <a class="dropdown-item" href="#">Aplikasi</a>
                        <a class="dropdown-item" href="#">Dump</a>
                    </div>
                </li>
            </ul>

            <!-- User -->
            <div class="d-flex justify-content-end align-items-end">
                <div class="mt-auto mx-3">
                    <h5>Hello, {{ request.user }}</h5>
                </div>
                <a href="{% url 'LogoutUser' %}">
                    <button  type="button" class="btn btn-outline-dark me-2 shadow-sm" >
                        Log Out
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="row d-flex py-2 m-0 align-items-center justify-content-center">
        <div class="row my-1">
            <div class="col-md-6 d-flex justify-content-start align-items-start">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Input Data
                </button>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-end">
                <form class="form-inline" action="{% url "AplPokokTable" geomid=geomid %}" method="get">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-append d-flex justify-content-end align-items-end">
                            <input class="form-control mx-2" type="text" name="q" placeholder="Searchbar">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if messages %}
            <div class="row">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="card-body align-items-center text-center">
                {% if TableData %}
                <div class="table-responsive-sm">
                    <table class="table table-responsive table-hover table-striped table-responsive-sm align-middle">
                        <thead>
                            <tr>
                                <th class="table-success">Afdeling</th>
                                <th class="table-success">Block</th>
                                <th class="table-success">Date</th>
                                <th class="table-success">Pokok</th>
                                {% comment %} <th class="table-success"></th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in TableData %}
                            <tr class="text-center">
                                <td>{{ data.afdeling }}</td>
                                <td>{{ data.block }}</td>
                                <td>{{ data.date|date:"j F Y"  }}</td>
                                <td>{{ data.pokok }}</td>
                                {% comment %} <td>
                                    TODO: Editable for admin role
                                    <a href="#" class="btn btn-sm btn-outline-success" role="button" aria-pressed="true">Edit</a>
                                </td>  {% endcomment %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a href="{% url "AplSummary" %}" type="button" class="btn btn-lg btn-success active">
                            Back
                        </a>
                    </div>
                </div>
                {% else %}
                    <p>No data available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "AplPokokEdit" %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="afdeling">Afdeling</label>
                            <select id="afdeling" class="form-control" name="afdeling" onchange="updateBlockChoices(), updateGeomidChoices()">
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="block">Block</label>
                            <select id="block" class="form-control" name="block" onchange="updateGeomidChoices()">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <div class="col-md-6">
                            <label for="pokok">Pokok</label>
                            <input type="number" class="form-control" id="pokok" name="pokok">
                        </div>
                        <input type="hidden" class="form-control" id="geomid" name="geomid">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
                </form>
        </div>
    </div>
</div>

{% comment %} <!-- Ajax CDN --> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% comment %} <!-- Bootstrap CDN --> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script>
    var blockChoicesMap = {{ choices|safe }};
    var afdelingChoices = Object.keys(blockChoicesMap);

    function updateAfdelingOptions() {
        var afdelingSelect = document.getElementById("afdeling");

        // Reset the options
        afdelingSelect.innerHTML = "";

        // Add options to the Afdeling select field
        afdelingChoices.forEach(function(value) {
            var option = document.createElement("option");
            option.text = value;
            option.value = value;
            afdelingSelect.add(option);
        });
    }
    function updateBlockChoices() {
        var afdelingSelect = document.getElementById("afdeling");
        var blockSelect = document.getElementById("block");
        var selectedAfdeling = afdelingSelect.value;

        // Reset the options
        blockSelect.innerHTML = "";

        // Get the block choices for the selected Afdeling
        var blockChoices = blockChoicesMap[selectedAfdeling];

        // Add options to the Block select field
        blockChoices.forEach(function(choice) {
            var option = document.createElement("option");
            option.text = choice.block;
            option.value = choice.block;
            blockSelect.add(option);
        });
    }

    function selectGid(block, afdeling) {
        // Access the choice object based on the afdeling
        var options = blockChoicesMap[afdeling];

        // Loop through the options to find the matching block
        for (var i = 0; i < options.length; i++) {
            if (options[i].block === block) {
                // Return the gid if the block matches
                return options[i].gid;
            }
        }

        // Return null if no matching block is found
        return null;
    }
    function updateGeomidChoices(){
        var afdelingSelect = document.getElementById("afdeling");
        var blockSelect = document.getElementById("block");
        var geomidSelect = document.getElementById("geomid");

        // Get the selected values
        var selectedAfdeling = afdelingSelect.value;
        var selectedBlock = blockSelect.value;

        // Use selectGid() function to get the gid
        var gid = selectGid(selectedBlock, selectedAfdeling);
        console.log(gid);

        // Update geomidSelect with the gid
        if (gid !== null) {
            geomidSelect.value = gid;
        } else {
            // If gid is null, handle it accordingly (e.g., display an error message)
            console.log("No gid found for the selected block and afdeling.");
        }
    }

    // Call the function initially to set the initial Block choices
    updateAfdelingOptions();
    updateBlockChoices();
    updateGeomidChoices();
</script>

</body>

</html>