<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% comment %} <!-- Bootstrap CDN --> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    {% comment %} <!-- Plotly.js CDN --> {% endcomment %}
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>

    {% comment %} <!-- Leaflet CDN --> {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html{
            background-color: #063970;
            color: #DCE2F0;
        }
        body{
            height: 100%;
        }
        .card-header {
            background-color: rgb(209, 231, 221);
        }
    </style>
</head>

<body>

<div class="container-fluid min-vh-100">

    <!-- Header -->
    <div class="row header p-2 border-bottom">

        <!-- Header bar -->
        <div class="d-flex flex-wrap align-content-center justify-content-center justify-content-lg-start">

            <!-- Logo -->
            <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none" href="{% url 'HomePage' %}">
                <img src="{% static '/logo/TAP-Logomini.png' %}" class="bi me-2 shadow-sm" width="26" height="35" alt="">
            </a>

            <!-- List Menu -->
            <ul class="nav col-11 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Dashboard
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Center' %}">Dashboard Center</a>
                        <a class="dropdown-item" href="{% url 'Hectare' %}">Hectare Statement</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis" href="{% url 'MapHectare' %}">
                        Maps
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Monitoring
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Patok' %}">Patok HGU</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'Tankos' %}">Tankos</a>
                        <a class="dropdown-item" href="{% url 'Pupuk' %}">Pupuk</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">
                        Download Report
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url "PatokExtract" %}">Patok</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "AplSumExtract" %}">Aplikasi</a>
                        <a class="dropdown-item" href="{% url "DumpExtract" %}">Dump</a>
                    </div>
                </li>
            </ul>

            <!-- User -->
            <div class="d-flex justify-content-end align-items-end">
                <div class="mt-auto mx-3">
                    <h5>Hello, {{ request.user }}</h5>
                </div>
                <a href="{% url 'LogoutUser' %}">
                    <button  type="button" class="btn btn-outline-dark me-2 shadow-sm" >
                        Log Out
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="row d-flex py-2 m-0 bg-warning align-items-center justify-content-center">
        <div class="row bg-info">
            <div class="m-2">
                <button type="button" class="btn btn-primary">Download</button>
            </div>
            <div class="card-body align-items-center text-center">
                {% if TableData %}
                <div class="table-responsive-sm">
                    <table class="table table-responsive table-hover table-striped table-responsive-sm align-middle">
                        <thead>
                            <tr>
                                <th class="table-success">Afdeling</th>
                                <th class="table-success">Block</th>
                                <th class="table-success">Area (ha)</th>
                                <th class="table-success">Dumps</th>
                                <th class="table-success">Delta Days</th>
                                <th class="table-success">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in TableData %}
                            <tr class="text-center">
                                <td>{{ row.afdeling }}</td>
                                <td>{{ row.block }}</td>
                                <td>{{ row.area|floatformat:2 }}</td>
                                <td>{{ row.date|date:"j F Y" }}</td>
                                <td>{{ row.date_delta }} Days </td>
                                <td>{{ row.status}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a href="{% url 'Tankos' %}" type="button" class="btn btn-sm btn-success active">
                            Back
                        </a>
                    </div>
                </div>
                {% else %}
                    <p>No data available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>





<div class="loader-div">
    <img class="loader-img" src="{% static "img/loader.gif" %}" style="height:120px; width: auto;" />
</div>
{% comment %} <!-- Bootstrap CDN --> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $(".loader-div").hide(); // hide loader
    });
    $(document).on( "load", function() {
        $(".loader-div").show(); // show loader
        console.log( "window loaded" );
    });
    TESTER = document.getElementById('myGraph');
	Plotly.newPlot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );

    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([51.5, -0.09]).addTo(map)
        .bindPopup('A pretty CSS popup.<br> Easily customizable.')
        .openPopup();
</script>
</body>

</html>